.dane {
    width: 70vw;
    height: 80vh;
    padding: 20px;
    background: #f5f5f5;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    min-height: 700px;
    padding-left: 50px;
}

.fiszka-konto {
    display: grid;
    justify-content: center;
    place-items: center;
    margin: 3em auto;
}

.imie-nazwisko {
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.dane-reszta>p {
    padding: 5px;
}

.dane-reszta>p>a {
    text-decoration: underline;
    color: navy;
}

.usun-niewidzialne {
    display: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul,
li,
a {
    text-decoration: none;
    list-style-type: none;
    color: black;
}

body {
    height: 100%;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: rgb(18, 66, 239);
}

.eclipse {
    position: absolute;
    float: right;
    right: 0;
}

.logo {
    float: left;
    height: 1.8em;
    margin: 1em 1em;
}


button {
    background-color: rgb(18, 66, 239);
    margin-top: 10px;
    font-size: 2em;
    padding: 10px 20px;
    height: auto;
    font-weight: 500;
    color: white;
    border-radius: 5px;
    border: none;
}

button:hover {
    background-color: #0263ff;
}


.footer {
    background-color: darkblue;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 1em 2em;
    font-weight: 200;
}

.footer p {
    margin-bottom: 10px;
}

#response {
    background-color: lightcoral;
    font-size: 15px;
}

#hamburger:hover {
    transform: rotate(90deg);
}

.navbar-in {
    position: fixed;
    top: 0;
    right: 0;
    width: 35%;
    height: 100%;
    background: #1E5AFA;
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 1rem;
    transform: translate(100%);
    transition: all 0.3s linear;
}

#title-ham {
    font-size: 1.25rem;
    margin-right: 10px;
    color: white;
}

.show-navbar {
    transform: translate(0);
}

.close-btn {
    font-size: 3vw;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    margin: 0 !important;
    margin-left: 2px !important;
    margin-top: 10px !important;
    transition: all 0.3s ease-in-out;

}

.close-btn:hover {
    transform: rotate(90deg);
}

.navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}


.navbar-toggle {
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
}

.slider-menu>li>a {
    color: white;
    font-size: 3vw;
    padding: 5px;
}

.slider-menu>li>a {
    transition: all 0.3s ease-in-out;
    padding-left: 10px;
}

.slider-menu>li {
    margin-bottom: 10px;

}

.slider-menu>li>a:hover {
    color: black;
    border-radius: 10px;
    background-color: white;
    margin-left: 20px;
}

#hamburger {
    position: absolute;
    float: right;
    right: 0;
    top: 0;
    padding: 0;
    margin-right: 20px;
    background: none;
    font-size: 2rem;
    transition: all 0.3s ease-in-out;
}

.eclipse {
    position: absolute;
    float: right;
    right: 0;
}

#hamburger {
    font-size: 1.5em;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.container2 {
    display: flex;
    flex-direction: column;
    padding: 2em;
    background-color: #1E5AFA;
    color: white;
}


.right img {
    display: grid;
    width: 100%;
    max-width: 800px;
    margin-bottom: 100px;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
}

.head {
    font-size: 2em;
    font-weight: 800;
}

.sub {
    font-size: 1em;
    font-weight: 300;
}

.opis {
    margin: 40px 0;
    font-size: 1em;
    font-weight: 400;
}

@media (min-width:1024px) {
    #hamburger {
        font-size: 2rem;
        margin-top: 20px;
        margin-right: 20px;
    }

    .close-btn {
        padding: 0.6em 1.6em;
    }

    .slider-menu>li>a {
        font-size: 2vw;
        padding: 5px;
    }

    .slider-menu>li>a {
        padding-left: 70px;
    }

    .eclipse {
        width: 250px;
    }

    .logo {
        height: 3em;
    }

    .kontenery {
        display: grid;
        padding: 4em;
        place-items: center;
    }

    .container,
    .container2 {

        flex-direction: row;
        border-radius: 10px;
        max-width: 1165px;
        margin-bottom: 40px;
    }

    .left {
        width: 50%;
        margin-right: 20px;
        height: 100%;
    }

    .right {
        width: 50%;
        margin-left: 10px;
        place-items: center;
        align-self: center;
        justify-content: center;
        align-items: center;
        margin-top: auto;
    }

    .container {
        background-color: rgb(245, 240, 240);
    }

    .opis {
        margin-top: 2em;
        margin-bottom: 0;
        bottom: 2em;
    }

    .right img {
        margin-bottom: 0;
    }
}