* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul,
li,
a {
    text-decoration: none;
    list-style-type: none;
    color: black;
}

body {
    height: 100%;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: rgb(18, 66, 239);
}

.eclipse {
    position: absolute;
    float: right;
    right: 0;
}

.logo {
    float: left;
    height: 1.8em;
    margin: 1em 1em;
}

.hamburger-menu {
    display: flex;
    float: right;
    margin: auto;
}

.card {
    display: grid;
    place-items: center;
    margin: auto;
    width: 80%;
    height: 60vh;
    background: #F4F6FB;
    border: 1px solid white;
    box-shadow: 10px 10px 64px 0px rgba(180, 180, 207, 0.75);
    -webkit-box-shadow: 10px 10px 64px 0px rgba(186, 186, 202, 0.75);
    -moz-box-shadow: 10px 10px 64px 0px rgba(208, 208, 231, 0.75);
    padding: 0.5em 1em;
    margin-top: 5em;
    margin-bottom: 9em;
}


.card_header {
    display: flex;
    align-items: center;
}

.card svg {
    color: rgb(18, 66, 239);
    margin-bottom: 20px;
    margin-right: 5px;
    transform: scale(2);
}

.form_heading {
    padding-bottom: 20px;
    font-size: 21px;
    color: rgb(18, 66, 239);
    font-size: 2.5em;
}

.field {
    padding-bottom: 10px;
}

.input {
    border-radius: 5px;
    background-color: #e9e9f7;
    padding: 5px;
    width: 100%;
    color: #7a7ab3;
    border: 1px solid #dadaf7;
    font-size: 1.3em;
}

.input:focus-visible {
    outline: 1px solid #0263ff;
}

.input::placeholder {
    color: #bcbcdf;
}

label {
    color: #B2BAC8;
    font-size: 14px;
    display: block;
    padding-bottom: 4px;
    font-size: 1em;
}

button {
    background-color: rgb(18, 66, 239);
    margin-top: 10px;
    font-size: 2em;
    padding: 10px 20px;
    height: auto;
    font-weight: 500;
    color: white;
    border-radius: 5px;
    border: none;
}

button:hover {
    background-color: #0263ff;
}


.footer {
    background-color: darkblue;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 1em 2em;
    font-weight: 200;
}

.footer p {
    margin-bottom: 10px;
}

#response {
    background-color: lightcoral;
    font-size: 15px;
}

#hamburger:hover {
    transform: rotate(90deg);
}

.navbar-in {
    position: fixed;
    top: 0;
    right: 0;
    width: 35%;
    height: 100%;
    background: #1E5AFA;
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 1rem;
    transform: translate(100%);
    transition: all 0.3s linear;
}

#title-ham {
    font-size: 1.25rem;
    margin-right: 10px;
    color: white;
}

.show-navbar {
    transform: translate(0);
}

.close-btn {
    font-size: 3vw;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    margin: 0 !important;
    margin-left: 2px !important;
    margin-top: 10px !important;
    transition: all 0.3s ease-in-out;

}

.close-btn:hover {
    transform: rotate(90deg);
}

.navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}


.navbar-toggle {
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
}

.slider-menu>li>a {
    color: white;
    font-size: 3vw;
    padding: 5px;
}

.slider-menu>li>a {
    transition: all 0.3s ease-in-out;
    padding-left: 10px;
}

.slider-menu>li {
    margin-bottom: 10px;

}

.slider-menu>li>a:hover {
    color: black;
    border-radius: 10px;
    background-color: white;
    margin-left: 20px;
}

#hamburger {
    position: absolute;
    float: right;
    right: 0;
    top: 0;
    padding: 0;
    margin-right: 20px;
    background: none;
    font-size: 2rem;
    transition: all 0.3s ease-in-out;
}

.eclipse {
    position: absolute;
    float: right;
    right: 0;
}

#hamburger {
    font-size: 1.5em;
}

@media (min-width:1024px) {
    #hamburger {
        font-size: 2rem;
        margin-top: 20px;
        margin-right: 20px;
    }

    .close-btn {
        padding: 0.6em 1.6em;
    }


.slider-menu>li>a {
    font-size: 2vw;
    padding: 5px;
}

.slider-menu>li>a {
    padding-left: 70px;
}

.eclipse {
    width: 250px;
}

.logo {
    height: 3em;
    }}
