* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul,
li,
a {
    text-decoration: none;
    list-style-type: none;
    color: black;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: rgb(18, 66, 239);
}

.eclipse {
    position: absolute;
    float: right;
    right: 0;
}

.logo {
    float: left;
    height: 1.4em;
    margin: 1em 1em;
}

.hamburger-menu {
    display: none;
    float: right;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 2.2em;
    font-weight: 700;
    color: white;
    padding: 0em 0.5em;
}

h4 {
    color: white;
    font-weight: 300;
    text-align: center;
    padding: 1em 4em;
    font-size: 0.8em;
}

/* .hero video {
    width: 100%;
} */

h3 {
    margin-top: 10px;
}

h2 {
    color: black;
    text-align: center;
    font-size: 2em;
    padding: 0.5em 0 1em 0;
}

.card {
    display: grid;
    place-items: center;
    margin: auto;
    width: 190px;
    height: 254px;
    background: #F4F6FB;
    border: 1px solid white;
    box-shadow: 10px 10px 64px 0px rgba(180, 180, 207, 0.75);
    -webkit-box-shadow: 10px 10px 64px 0px rgba(186, 186, 202, 0.75);
    -moz-box-shadow: 10px 10px 64px 0px rgba(208, 208, 231, 0.75);
    padding: 0.5em 1em;
    margin-top: 5em;
    margin-bottom: 5em;
}


.card_header {
    display: flex;
    align-items: center;
}

.card svg {
    color: rgb(18, 66, 239);
    margin-bottom: 20px;
    margin-right: 5px;
}

.form_heading {
    padding-bottom: 20px;
    font-size: 21px;
    color: rgb(18, 66, 239);
}

.field {
    padding-bottom: 10px;
}

.input {
    border-radius: 5px;
    background-color: #e9e9f7;
    padding: 5px;
    width: 100%;
    color: #7a7ab3;
    border: 1px solid #dadaf7
}

.input:focus-visible {
    outline: 1px solid #0263ff;
}

.input::placeholder {
    color: #bcbcdf;
}

label {
    color: #B2BAC8;
    font-size: 14px;
    display: block;
    padding-bottom: 4px;
}

button {
    background-color: rgb(18, 66, 239);
    margin-top: 10px;
    font-size: 14px;
    padding: 7px 12px;
    height: auto;
    font-weight: 500;
    color: white;
    border: none;
}

button:hover {
    background-color: #0263ff;
}


.zakladki {
    border-top: 1px solid lightgray;
    text-align: left;
    margin-bottom: 20px;
    padding: 1em 2em;
}

.footer {
    background-color: darkblue;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 1em 2em;
    font-weight: 200;
}

.footer p {
    margin-bottom: 10px;
}

.zakladki p {
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 1.3em;
}

.zakladki ul {
    margin-bottom: 40px;
}

.linia {
    position: absolute;
    width: 100%;
    left: -2px;
}

p {
    cursor: default;
}