* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul,
li,
a {
    text-decoration: none;
    list-style-type: none;
    color: black;
}

body {
    height: 100%;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: rgb(18, 66, 239);
}

.eclipse {
    position: absolute;
    float: right;
    right: 0;
}

.logo {
    float: left;
    height: 1.8em;
    margin: 1em 1em;
}

.hamburger-menu {
    display: flex;
    float: right;
    margin: auto;
}

button {
    background-color: rgb(18, 66, 239);
    margin-top: 10px;
    font-size: 2em;
    padding: 10px 20px;
    height: auto;
    font-weight: 500;
    color: white;
    border-radius: 5px;
    border: none;
}

.footer {
    background-color: darkblue;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 1em 2em;
    font-weight: 200;
}

.footer p {
    margin-bottom: 10px;
}

#response {
    background-color: lightcoral;
    font-size: 15px;
}

#hamburger:hover {
    transform: rotate(90deg);
}

.navbar-in {
    position: fixed;
    top: 0;
    right: 0;
    width: 35%;
    height: 100%;
    background: #1E5AFA;
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 1rem;
    transform: translate(100%);
    transition: all 0.3s linear;
}

#title-ham {
    font-size: 1.25rem;
    margin-right: 10px;
    color: white;
}

.show-navbar {
    transform: translate(0);
}

.close-btn {
    font-size: 3vw;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    margin: 0 !important;
    margin-left: 2px !important;
    margin-top: 10px !important;
    transition: all 0.3s ease-in-out;

}

.close-btn:hover {
    transform: rotate(90deg);
}

.navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}


.navbar-toggle {
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
}

.slider-menu>li>a {
    color: white;
    font-size: 3vw;
    padding: 5px;
}

.slider-menu>li>a {
    transition: all 0.3s ease-in-out;
    padding-left: 10px;
}

.slider-menu>li {
    margin-bottom: 10px;

}

.slider-menu>li>a:hover {
    color: black;
    border-radius: 10px;
    background-color: white;
    margin-left: 20px;
}

#hamburger {
    position: absolute;
    float: right;
    right: 0;
    top: 0;
    padding: 0;
    margin-right: 20px;
    background: none;
    font-size: 2rem;
    transition: all 0.3s ease-in-out;
}

.eclipse {
    position: absolute;
    float: right;
    right: 0;
}

#hamburger {
    font-size: 1.5em;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 190px;
    height: 400px;
    padding: 20px;
    background: #f5f5f5;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}

.card-img {
    background-color: white;
    width: 220px;
    height: 100px;
    border-radius: .5rem;
    transition: .3s ease;
    padding: 10px;
    box-shadow: 4px 4px .5em rgb(18, 66, 239);
}

.card-img img {
    margin-top: 10px;
    width: 100%;
}

.card-info {
    padding-top: 10%;
}

svg {
    width: 20px;
    height: 20px;
}

.card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.text-title {
    font-weight: 900;
    font-size: 1.5em;
    line-height: 1.5;
    text-align: left;
}

.text-body {
    font-size: .9em;
    padding-bottom: 10px;
    margin: 30px 0;
}

.card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
}


.card-button:hover {
    border: 1px solid #0da827;
    background-color: #0da827;
}

.fiszka {
    display: grid;
    justify-content: center;
    place-items: center;
    margin: 3em auto;
}

.card {
    width: 100%;
}


.wysylka {
    background-color: #252525;
    color: white;
    padding: 2em 3em;
}

.wysylka p {
    font-weight: 100;
    line-height: 26px;
}


@media (min-width:1024px) {
    #hamburger {
        font-size: 2rem;
        margin-top: 20px;
        margin-right: 20px;
    }

    .close-btn {
        padding: 0.6em 1.6em;
    }

    .slider-menu>li>a {
        font-size: 2vw;
        padding: 5px;
    }

    .slider-menu>li>a {
        padding-left: 70px;
    }

    .eclipse {
        width: 250px;
    }

    .logo {
        height: 3em;
    }

    .container {
        padding: 3em 3em 10em 3em;
    }

}