* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul,
li,
a {
    text-decoration: none;
    list-style: none;
}

html {
    background-color: #16171D;
}

ul {
    display: flex;
    padding: 1em 2em;
    align-items: center;
    justify-content: space-between;
}

a {
    font-size: 2em;
    color: white;
    font-weight: 600;
}

.yellow {
    color: #fcc137;
}

.menu {
    height: 40px;
}

.hero,
.hero-text {
    display: grid;
    place-items: center;
    align-content: center;
    padding-top: 4em;
}

.hero img {
    width: 70%;
}

h1 {
    color: white;
    font-size: 2em;
    text-align: center;
    width: 80%;
}

h4 {
    color: darkgray;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    padding-top: 1em;
}

.wallet-btn {
    margin-top: 1.2em;
    padding: 0.8em 1.8em;
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
    border-radius: 10px;
    background-color: #F5C249;
    color: black;
    border: none;
}

.fiszki-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin-top: 8em;
}

.fiszka {
    border: 2px solid #787A8D;
    border-radius: 20px;
    width: 80%;
    margin-bottom: 5em;
}

h2 {
    color: white;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
}


p {
    color: darkgray;
    text-align: center;
    padding: 20px 30px;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.fiszka {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fiszka img {
    width: 100px;
    margin: auto;
}

.transactions {
    display: grid;
    place-items: center;
    align-content: center;
}

.transactions-box {
    background-color: #21242D;
    display: flex;
    flex-direction: column;
    padding: 2.5em 1.5em;
    border-radius: 10px;
    width: 80%;
    margin-bottom: 100px;
}

.transactions-box input {
    margin-bottom: 15px;
    font-size: 0.8em;
}

input {
    border-radius: 10px;
    background-color: #16171D;
    padding: 1em;
    color: #787A8D;
    font-size: 0.7em;
    font-weight: 500;
    border: none;
}


.transactions-btn {
    margin-top: 1.2em;
    padding: 0.6em 1em;
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
    border-radius: 10px;
    background-color: #F5C249;
    border: none;
    color: black;
}

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-top: 2px solid #21242D;
    padding-top: 1em;
}

.footer li,
a {
    margin-bottom: 20px;
}

.social img {
    width: 31px;
    margin-left: 20px;
}

.copyrights {
    font-size: 0.8em;
    font-weight: 300;
}

.hero1 img {
    display: grid;
    width: 70%;
    align-items: center;
    place-items: center;
    margin: auto;

}

@media (min-width:1041px) {
    html {
        padding: 0;
        margin: 0;
    }

    .navbar ul {
        font-size: 1em;
        padding: 2em 5em;
        text-align: left;
    }

    .navbar a {
        text-align: left;
    }

    .navbar img {
        display: none;
    }

    .hero-section {
        display: flex;
        flex-direction: row-reverse;
        margin: 5em 0;
        justify-content: space-between;
    }

    .hero {
        width: 50%;
        margin: 0;
        padding-top: 5em;
        float: right;

    }

    .hero-text {
        width: 50%;
        font-size: 1.2em;
        padding-left: 5em;
    }

    h1,
    h4,
    p {
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: left;
    }

    .wallet-btn {
        left: 0;
        margin-right: auto;
        padding: 0.6em 1.6em;
    }

    h1 {
        margin-bottom: 20px;
    }

    h4 {
        margin-bottom: 10px;
    }

    .fiszki-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 0 5em;
        align-items: center;
        justify-content: space-around;
    }

    .fiszka {
        padding: 2em 2em;
        margin-left: 30px;
        height: 300px;
    }

    .fiszka:nth-child(1) {
        margin-left: 0;
    }

    .fiszka h2 {
        font-size: 1.2em;
        padding-top: 20px;
        text-align: center;
    }

    .fiszka p {
        font-size: 1em;
        padding-top: 20px;
        text-align: center;
    }

    .fiszka img {
        width: 30%;
    }

    .hero1 {
        float: left;
        width: 50%;
        margin-left: 3em;
        margin-top: 40px;
        max-width: 700px;
    }

    .transactions {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: center;
        vertical-align: middle;
        margin-bottom: 100px;
    }

    .transactions-box {
        width: 50%;
        float: right;
        right: 0;
        margin-right: 5em;
        margin-bottom: 0;

    }

    .transactions-box input {
        font-size: 1em;
    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 1em 5em;

    }

    .footer li {
        vertical-align: center;
        margin: 0;
    }

    .copyrights {
        float: right;
        text-align: right;
        width: auto;
    }

    .social {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: auto;
        align-items: center;
    }

    .social img {
        width: 50%;
    }

    .transactions-section {
        margin: 2em 5em;
    }
}